/* Estilos CSS para la página */
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Estilos CSS para el navbar */
  .navbar {
    background-color: #4CAF50;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .navbar a.active {
    background-color: #ddd;
    color: black;
  }
  .navbar-right {
    float: right;
  }
  /* Estilos CSS para el div tarjeta */
  .opciones_adulto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;

  }
  
  .tarjeta {
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;

  }
  
  .tarjeta h3 {
    margin-top: 0;

  }
  
  .tarjeta img {
    width: 100%;
    object-fit: cover;

  }
  
 
  